{% extends "base.html" %}
{% block body %}
  
    <h2 class="text-center fs-1 text-info">My Wishlist</h2>
    <div class="border shadow rounded">
        <ul>
            {% for item in wishlist.items.all %}
                <div class="d-flex justify-content-between  py-3 ">
                    <li>{{ item.product_name }} - Price: ${{ item.price }}</li>
                   <a class="btn btn-info " href="{% url 'remove_from_wishlist' item.id %}">Remove</a>
                </div>
            {% empty %}
                <p>Your wishlist is empty.</p>
            {% endfor %}
        </ul>
    </div>

{% endblock body %}